{
  "useTabs": false,
  "parser": "flow",
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "semi": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
